<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GET TEST</title>
  </head>
  <body>
    <h2>GET TEST</h2>
    <form action='http://localhost:8080/processStuff' method='get'>
      <input type='text' name='catNameIn' />
      <input type="submit" value="Submit" />
    </form>
    <h2>POST TEST</h2>
    <form action="http://localhost:8080/processPost" method="post">
      <input type="text" name="dogNameIn" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
